<h2><%= @cocktail.name %></h2>

<%= cl_image_tag @cocktail.photos.each |photo| %>
<%= photo %>
<% end %>

<% @cocktail.doses.each do |dose| %>
  <div class="dose-details">
    <p><%= dose.ingredient.name %>: <%= dose.description %></p>
  </div>
<% end %>


<%= link_to "Add a new ingredient", new_cocktail_dose_path(@cocktail) %>

