<div class="created">
  <h3>Add A Dose</h3>
  <%= @cocktail.name %>
  <%= simple_form_for [@cocktail, @dose] do |f|%>
  <%= f.association :ingredient%>
  <%= f.input :description %>
  <%= f.submit %>
<% end %>
</div>
